---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Home">
	<h2>About</h2>

	<p>
		Backend engineer with 10+ years of experience in building scalable and
		reliable systems. Proficient in cloud technologies, microservices
		architecture, and DevOps practices. Passionate about optimizing
		performance and ensuring security in backend applications.
	</p>
</BaseLayout>
