---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Projects">
    <h2>Projects</h2>

    <p>
        Here are some of the projects I've worked on:
    </p>

    <ul>
        <li>Fullstack Task Manager</li>
        <li>Real-time Chat Application</li>
    </ul>
    
</BaseLayout>
